@import '../../index.css';

#homepage-image-container {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#homepage-image {
    height: auto;
    width: 100%;
    opacity: .80;
}

#join-us-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: var(--ufa-light-green);
    border-style: dashed;
    border: 3px solid var(--ufa-dark) !important;
    background-color: rgba(255,255,255,.4);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#join-us-btn:hover {
    background-color: var(--ufa-grey);
}

h1 {
    text-decoration: none;
    color: var(--ufa-dark-green);
}

@media screen and (min-width: 768px) {
    #homepage-image-container {
        height: 90vh;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    #homepage-image {
        height: auto;
        width: 100%;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        opacity: .80;
    }
}