@import '../../index.css';

#wp-page-home {
    padding-top: 5vh;
}

#homepage-image-container {
    width: 100vw;
    overflow: hidden;
}

#homepage-image {
    height: auto;
    transform: translateY(0);
    -ms-transform: translateY(0);
    width: 100%;
    opacity: .80;
}

@media screen and (min-width: 1150px) {
    
    #wp-page-home {
        padding-top: 10vh;
    }

    #homepage-image-container {
        top: 0;
        overflow: hidden;
    }
    
    #homepage-image {
    }
}