@import '../../index.css';

.teams-title {

}

.investment-teams-title {

}

.investment-teams-description {
    padding: 2em;
    border: .2vw solid var(--ufa-dark-green);
    margin-bottom: 1em;
}

.investment-teams-intro {
    
}

.investment-teams-topics-description{

}

.investment-teams-topics {

}

.investment-teams-topic {
    width: 40%;
    transform: translateX(70%);
    margin:0;
    margin-bottom: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: .2vw solid var(--ufa-light-green);
    user-select:none;
}

.investment-teams-topic:hover {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;    
    background-color: var(--ufa-mid-green);
}

.investment-teams-info {
    
}

.consulting-teams-description {
    padding: 2em;
    border: .2vw solid var(--ufa-dark-green);
    margin-bottom: 1em;
}

@media screen and (max-width: 900px) {
    .investment-teams-topic {
        width: 55%;
        transform: translateX(40%);
        margin:0;
        margin-bottom: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
        border: .2vw solid var(--ufa-dark);
        user-select:none;
    }
}