@import '../../index.css';

.corporate-partners-description {
    padding: 2em;
    border: .2vw solid var(--ufa-dark-green);
    margin-bottom: 1em;
}

.partnership-level {
    padding: 2em;
    border: .2vw solid;
    margin-bottom: 1em;
}

.gold-partnership {
    border-color: var(--ufa-gold);
}

.silver-partnership {
    border-color: var(--ufa-silver);
}

.pay-per-meeting-partnership {
    border-color: var(--ufa-light-green);
}

.partnership-level {
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.gold-partnership:hover {
    background-color: var(--ufa-gold);
}

.silver-partnership:hover {
    background-color: var(--ufa-silver);
}

.pay-per-meeting-partnership:hover {
    background-color: var(--ufa-light-green);
}
