/**
 * index.css styling is applied sitewide before any JavaScript renders.
 */

/* Apply site color themes via CSS vars */
:root {
  width: 100%;
  height: 100%;

  /* UFA Color Theming */
  --ufa-dark-green: #005500;
  --ufa-green: #3a7333;
  --ufa-light-green: #8aac86;
  --ufa-black: #000000;  
  --ufa-white: #ffffff;   
  --ufa-light: #d7dfd5;
  --ufa-dark: #444444;
  --ufa-grey: #5f665e;
  --ufa-light-grey: #949494;

  /* Navbar Theming */
  --navbar: var(--ufa-light);
  --navbar-field: var(--ufa-dark-green);
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width:100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .content-below-navbar {
    padding-top: 12vh;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}