@import '../index.css';

.base-page {
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
}

.base-page * {
}

#page-title {
    text-align: center
}

p {

}

.aligncenter {
    text-align: center;
    align-content: center;
}

.has-accent-color {
    color: var(--ufa-dark-green);
}

.has-text-color {
    color: var(--ufa-dark-green);
}

hr, .has-text-color {
    border-color: var(--ufa-dark-green);
}

.has-text-align-center {
    text-align: center;
}

.wp-block-button {
    color: var(--ufa-white);
    border: .2vw solid var(--ufa-dark-green) !important;
    background-color: var(--ufa-dark-green);
    width: 20vw;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 1em;
}

.wp-block-button * {
    display: flex;
    font-weight: 600;
    font-size: 1em;
    color: inherit !important;
    line-height: 1;
    display: grid;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

div.wp-block-button, div.wp-block-button * {
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

div.wp-block-button:hover, div.wp-block-button *:hover {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

    background-color: var(--ufa-white);
    color: var(--ufa-dark-green);
}


@media screen and (min-width: 900px) {
    .base-page {
        padding-top: 13vh;
        padding-left: 25%;
        padding-right: 25%;
    }

    .wp-block-button {
        width: 10vw;
    }
    
    .wp-block-button * {
        font-size: 1.3em;
    }
}
